.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(75, 75, 75, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  /* align-items: center;
  justify-content: space-evenly; */
  flex-direction: column;
  padding: 25px;
}

.modal-container h1,
label,
p {
  color: #fff;
  font-size: 30px;
}

.modal-container h1 {
  font-size: 30px;
}

.modal-container label,
p {
  font-size: 18px;
}

.modal-btns {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.modal-btns .btn {
  margin: 6px;
}
